#termekekTere {
    background-color: rgb(250, 247, 219);
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

#termekTere {
    background-image: url(../weblap_kepek/tekecs.png);
    background-position: center center;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
} 

#termekStatisztikaTere {
    background-color: rgb(183, 183, 179);
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

.kepek{
    width: 75%;
    justify-content: center;
    text-align: center;
}

#statisztikak {
    padding-top: 10px;
    padding-bottom: 10px;
}

#kosarba {
    border-color: azure;
    background-color: chartreuse;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
